{{define "manylangs"}}
<ul class="dropdown-menu">
	<li>
		<a href="/admin/subscription?lang=gr">
			<img src="/static/images/flags/GR.png"> {{gettext "Greek"}}
		</a>

	</li>
	<li>

		<a href="/admin/subscription?lang=en">
			<img src="/static/images/flags/GB.png"> {{gettext "English"}}
		</a>
	</li>
</ul>
{{end}} {{define "content"}}

<div class="content">
	<div class="container-fluid">
		<div class="row">

			<div class="container">

				<div class="row">
					<div id="generic_price_table">
						<section>
							<div class="container">
								<div class="row">
									<div class="col-md-12">
										<!--PRICE HEADING START-->
										<div class="price-heading clearfix">
											<h1>Πακέτα συνδρομών</h1>
										</div>
										<!--//PRICE HEADING END-->
									</div>
								</div>
							</div>
							<div class="container">

								<!--BLOCK ROW START-->
								<div class="row">
									<div class="col-md-4">

										<!--PRICE CONTENT START-->
										<div class="generic_content clearfix">

											<!--HEAD PRICE DETAIL START-->
											<div class="generic_head_price clearfix">

												<!--HEAD CONTENT START-->
												<div class="generic_head_content clearfix">

													<!--HEAD START-->
													<div class="head_bg"></div>
													<div class="head">
														<span>3 Μήνες</span>
													</div>
													<!--//HEAD END-->

												</div>
												<!--//HEAD CONTENT END-->

												<!--PRICE START-->
												<div class="generic_price_tag clearfix">
													<span class="price">
														<span class="sign">€</span>
														<span class="currency" id="value1">53.00</span>
														<br>
														<span class="month">Ανα Κατάστημα</span>
													</span>
												</div>
												<!--//PRICE END-->

											</div>
											<!--//HEAD PRICE DETAIL END-->

											<!--FEATURE LIST START-->
											<div class="generic_feature_list">
												<ul>
													<li>
														<span id="value3">145</span> Free Credits</li>
													<li class="custom-stores">
														<span>
																<select class="selectpicker" id="pack3months" data-style="btn btn-block dropdown-toggle" title="1 Active stores" data-size="7">
																		<option value="53.00|159.00|145">1 Active stores</option>
																		<option value="47.70|286.20|203">2 Active stores</option>
																		<option value="43.46|391.14|261">3 Active stores</option>
																		<option value="39.96|479.54|319">4 Active stores</option>
																		<option value="37.02|555.23|377">5 Active stores</option>
																		<option value="34.49|620.86|435">6 Active stores</option>
																		<option value="32.30|678.40|493">7 Active stores</option>
																		<option value="30.39|729.28|551">8 Active stores</option>
																		<option value="28.69|774.64|609">9 Active stores</option>
																		<option value="27.18|815.36|667">10 Active stores</option>
																	</select>
															</form>
														</span>
													</li>
													<li>
														<span>Unlimited</span> Employes</li>
													<li>
														<span>Unlimited</span> Products</li>
													<li>
														<span>Unlimited</span> Services</li>
													<li>
														<span class="currency" id="value2">159.00</span>
														<span> € /Για 3 Μήνες</span>
													</li>

												</ul>
											</div>

											<!--//FEATURE LIST END-->

											<!--BUTTON START-->
											<div class="generic_price_btn clearfix">
												<a class="" href="">Buy this Pack</a>
											</div>
											<!--//BUTTON END-->

										</div>
										<!--//PRICE CONTENT END-->

									</div>

									<div class="col-md-4">

										<!--PRICE CONTENT START-->
										<div class="generic_content clearfix">

											<!--HEAD PRICE DETAIL START-->
											<div class="generic_head_price clearfix">

												<!--HEAD CONTENT START-->
												<div class="generic_head_content clearfix">

													<!--HEAD START-->
													<div class="head_bg"></div>
													<div class="head">
														<span>6 Μήνες</span>
													</div>
													<!--//HEAD END-->

												</div>
												<!--//HEAD CONTENT END-->

												<!--PRICE START-->
												<div class="generic_price_tag clearfix">
													<span class="price">
														<span class="sign">€</span>
														<span class="currency" id="value4">44.83</span>
														<br>
														<span class="month">Ανα Κατάστημα</span>
													</span>
												</div>
												<!--//PRICE END-->

											</div>
											<!--//HEAD PRICE DETAIL END-->

											<!--FEATURE LIST START-->
											<div class="generic_feature_list">
												<ul>
													<li>
														<span id="value6">221</span> Free Credits</li>
													<li class="custom-stores">
														<span>
															<select class="selectpicker" id="pack6months" data-style="btn btn-block dropdown-toggle" title="1 Active stores" data-size="7">
																<option value="44.83|269.00|221">1 Active stores</option>
																<option value="40.80|489.58|294">2 Active stores</option>
																<option value="37.49|674.81|368">3 Active stores</option>
																<option value="34.71|833.07|441">4 Active stores</option>
																<option value="32.34|970.12|515">5 Active stores</option>
																<option value="30.28|1090.12|588">6 Active stores</option>
																<option value="28.48|1196.21|662">7 Active stores</option>
																<option value="26.89|1290.73|735">8 Active stores</option>
																<option value="25.47|1375.51|809">9 Active stores</option>
																<option value="24.20|1452.04|882">10 Active stores</option>

															</select>
														</span>
													</li>
													<li>
														<span>Unlimited</span> Employes</li>
													<li>
														<span>Unlimited</span> Products</li>
													<li>
														<span>Unlimited</span> Services</li>
													<li>
														<span class="currency" id="value5">159.00</span>
														<span> € /Για 6 Μήνες</span>
													</li>

												</ul>
											</div>

											<!--//FEATURE LIST END-->

											<!--BUTTON START-->
											<div class="generic_price_btn clearfix">
												<a class="" href="">Buy this Pack</a>
											</div>
											<!--//BUTTON END-->

										</div>
										<!--//PRICE CONTENT END-->

									</div>

									<div class="col-md-4">

										<!--PRICE CONTENT START-->
										<div class="generic_content active clearfix">

											<!--HEAD PRICE DETAIL START-->
											<div class="generic_head_price clearfix">

												<!--HEAD CONTENT START-->
												<div class="generic_head_content clearfix">

													<!--HEAD START-->
													<div class="head_bg"></div>
													<div class="head">
														<span>12 Μήνες</span>
													</div>
													<!--//HEAD END-->

												</div>
												<!--//HEAD CONTENT END-->

												<!--PRICE START-->
												<div class="generic_price_tag clearfix">
													<span class="price">
															<span class="sign">€</span>
															<span class="currency" id="value7">30.42</span>
															<br>
															<span class="month">Ανα Κατάστημα</span>
													</span>
												</div>
												<!--//PRICE END-->

											</div>
											<!--//HEAD PRICE DETAIL END-->

											<!--FEATURE LIST START-->
											<div class="generic_feature_list">
												<ul><ul>
														<li>
															<span id="value9">1463</span> Free Credits</li>
														<li class="custom-stores">
															<span>
																<select class="selectpicker" id="pack12months" data-style="btn btn-block dropdown-toggle" title="1 Active stores" data-size="7">
																	<option value="30.42|365.00|1463">1 Active stores</option>
																	<option value="27.98|671.60|1612">2 Active stores</option>
																	<option value="25.94|933.82|1761">3 Active stores</option>
																	<option value="24.19|1161.18|1910">4 Active stores</option>
																	<option value="22.68|1360.53|2060">5 Active stores</option>
																	<option value="21.35|1536.95|2209">6 Active stores</option>
																	<option value="20.17|1694.31|2358">7 Active stores</option>
																	<option value="19.12|1835.64|2507">8 Active stores</option>
																	<option value="18.18|1963.34|2657">9 Active stores</option>
																	<option value="17.33|2079.33|2806">10 Active stores</option>
	
																</select>
															</span>
														</li>
														<li>
															<span>Unlimited</span> Employes</li>
														<li>
															<span>Unlimited</span> Products</li>
														<li>
															<span>Unlimited</span> Services</li>
														<li>
															<span class="currency" id="value8">365.00</span>
															<span> € /Για 12 Μήνες</span>
														</li>
	
													</ul>
											</div>
											<!--//FEATURE LIST END-->

											<!--BUTTON START-->
											<div class="generic_price_btn clearfix">
													<a class="" href="">Buy this Pack</a>
											</div>
											<!--//BUTTON END-->

										</div>
										<!--//PRICE CONTENT END-->

									</div>

								</div>
								<!--//BLOCK ROW END-->

							</div>
						</section>

					</div>











				</div>

			</div>

		</div>
	</div>
</div>
{{end}} {{define "scripts"}}
<script>
	$(document).ready(function () {
		$("#pack3months").on('change', function () {
			var $this = $(this);
			var value = $this.val()
			var arrayValue = value.split("|");
			$("#value1").text(arrayValue[0]);
			$("#value2").text(arrayValue[1]);
			$("#value3").text(arrayValue[2]);
		});
	});	
</script>
<script>
	$(document).ready(function () {
		$("#pack6months").on('change', function () {
			var $this = $(this);
			var value = $this.val()
			var arrayValue = value.split("|");
			$("#value4").text(arrayValue[0]);
			$("#value5").text(arrayValue[1]);
			$("#value6").text(arrayValue[2]);
		});
	});	
</script>
<script>
		$(document).ready(function () {
			$("#pack12months").on('change', function () {
				var $this = $(this);
				var value = $this.val()
				var arrayValue = value.split("|");
				$("#value7").text(arrayValue[0]);
				$("#value8").text(arrayValue[1]);
				$("#value9").text(arrayValue[2]);
			});
		});	
	</script>{{end}}